<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src=".\jquery\jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src=".\bootstrap\js\bootstrap.min.js"></script>


        <link type="text/css"  href=".\bootstrap\css\bootstrap.min.css" rel="stylesheet" />
        <style type="text/css">
        	#container{
        		width:50%;
        		float:left;
        		margin-left:25%; 
        		border:1px solid #ddd; 
        		border-radius: 5px;
        		margin-top: 20px;
        		padding: 2em;
        	}
        	label{
        		color:#81817C;
        	}

        	#header{
        		border-bottom: 1px solid #D8D7D7;
        		background-color: #f5f5f5;
        		padding: 0.5em;
        		box-shadow:none; 
        	}
        	
        	table{
        		border:5px solid;
        		text-align: center;
        	}
        	input[type="number"]{
        		width:2em;
        	}
        </style>
	</head>
	<body ng-app="">
		<div id="header"><h3>KidsGames</h3></div>
		<div ng-controller="randomTable" id="container">
			<div>
				<label>SUMALO!</label>
				<b style="float:right;margin-left:0.5em;margin-bottom:0.5em;">Y: <input type="number" ng-model="Y" ng-click="reloadSize()" ng-disabled="disableXY"/></b>
				<b style="float:right;">X: <input type="number" ng-model="X" ng-click="reloadSize()" ng-disabled="disableXY"/></b>
			</div>
			<table ng-show="showTable" class="table table-striped table-condensed table-bordered">
				<tbody>
					<tr ng-repeat="value in values">
						<td ng-repeat="val in value track by $index" style="padding-botton:1em; border:5px solid black;font-size:25pt;">{{val}}</td>
					</tr>
				</tbody>
			</table>
			<button type="button" ng-click="reload()" ng-class="class">{{buttonName}}</button>
			<!-- <button class="btn" ng-click="clear()" ng-show="!run"><span class="fa fa-power-off"></span>Clear</button></button> -->
			<button type="button" ng-show="sum>0 && !run" ng-click="showTotal()" class="btn btn-primary">Total</button>
			<a  ng-show="show"> Total: <b style="font-size:14pt;">{{sum}}</b></a>
			<p style="float:right;font-size:11pt;">Segundos: <b style="font-size:14pt;">{{seg}}</b></p>
		</div>
		<script type="text/javascript">

			function randomTable($scope, $interval){
				var sum = 0;
				var loadValues = function(x, y){
					var values = [];
					var num = null;
					sum = 0;
					for (var i = 0; i < x; i++) {
						values.push([]);
						for (var j = 0; j < y; j++) {
							num = Math.floor(Math.random() * 99) + 1;
							sum += num;
							values[i].push((num<10)? "0"+num: num );//Math.floor(Math.random() * 6) + 1
						};
					};
					// printValues(values);
					return values;
				}

				$scope.X = 8;
				$scope.Y = 8;
				$scope.disableXY = false;
				$scope.showTable = true;
				$scope.values = [];
				$scope.buttonName = "Jugar";
				$scope.class = "btn btn-success";
				$scope.sum = 0;
				$scope.seg = 0;
				$scope.timer = false;
				$scope.run = false;
				$scope.reload = function(){
					$scope.run = !$scope.run;
					if($scope.run){
						$scope.clear();
						$scope.countSeg();
						$scope.values = loadValues($scope.X, $scope.Y);
						$scope.show = false;
						$scope.sum = sum;
						$scope.showTable = true;
						$scope.disableXY = true;
					}else{
						
						$scope.StopSeg();
						$scope.showTable = false;
						$scope.disableXY = true;
					}
				}
				$scope.reloadSize = function(){
					$scope.values = loadValues($scope.X, $scope.Y);
				}
				$scope.countSeg = function(){
					$scope.buttonName = "Stop";
					$scope.class = "btn btn-danger";
					$scope.timer = $interval(function(){
				        $scope.seg++;
				        // $scope.$apply();
				        // console.log($scope.countDown);
				        // console.log($scope.timer)
				    }, 1000);
				}
				$scope.StopSeg = function(){
					$scope.buttonName = "Jugar Otra Vez";
					$scope.class = "btn btn-success";
					$interval.cancel($scope.timer);
				}
				$scope.clear = function(){
					$scope.seg = 0;
				}
				$scope.show = false;
				$scope.showTotal = function(){
					if($scope.sum>0 && !$scope.run && !$scope.show){
						$scope.show = !$scope.show;
						$scope.showTable = true;
					}
				}

			}
		</script>


	<script type="text/javascript" src=".\angular\angular.min.js"></script>
	</body>
</html>